#subnav
  %ul
    - admin_subnav_pages.each do |page_name, path|
      %li{ style: "width: #{100/admin_subnav_pages.count}%" }
        = link_to page_name, path, { class: ('current' if current_page? path) }
