.header
  .user-links
    - if user_signed_in?
      Hello #{current_user.display_name}!
      = link_to 'Sign out', destroy_user_session_path
    - else
      = link_to 'Sign in', new_user_session_path
