/*
 *= require_self
 *= require jquery.ui.all
 *= require 'layout'
 *= require 'welcome'
 */

@import 'compass'
@import 'colors'
@import url(http://fonts.googleapis.com/css?family=Artifika)

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  color: $color4
  font-family: helvetica, arial, verdana, sans-serif
  font-size: 13px

  background-color: $color5
  @include filter-gradient(black, $color5, vertical)
  @include background-image(linear-gradient(bottom, black 0%, $color5 100%))

h1, h2, h3, h4, h5, h6
  margin-top: 0
  font-family: 'Artifika', serif

pre
  background-color: $color7
  padding: 10px
  font-size: 11px
  white-space: pre-wrap       /* css-3 */
  white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
  white-space: -pre-wrap      /* Opera 4-6 */
  white-space: -o-pre-wrap    /* Opera 7 */
  word-wrap: break-word

a
  cursor: pointer
  color: $color5
  text-decoration: none
  &:hover
    color: $color2

p, ol, ul
  font-size: 13px
  line-height: 18px
