/*
 *= require_self
 *= require layout
 *= require welcome
 */

body
  margin: 0
  background-color: #fff
  color: #333
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px

h1, h2, h3, h4, h5, h6
  margin-top: 0

pre
  background-color: #eee
  padding: 10px
  font-size: 11px
  white-space: pre-wrap       /* css-3 */
  white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
  white-space: -pre-wrap      /* Opera 4-6 */
  white-space: -o-pre-wrap    /* Opera 7 */
  word-wrap: break-word

a
  cursor: pointer
  color: #666
  text-decoration: none
  &:hover
    text-decoration: underline

p, ol, ul
  font-size: 13px
  line-height: 18px
